@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@600;700&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --open-sans-font: 'Open Sans', sans-serif; 
}

body {
    font-family: var(--open-sans-font);
    overflow-x: hidden;
}
.about-pam-jones, .offer, .logo, .portfolio, .price {
    padding-left: 214px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.header {
    padding-top: 10px;
    margin-bottom: 25px;    
}
.scroll-line {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 13px 0;
    font-family: var(--montserrat-font);
}
.logo {
    margin-bottom: 25px;
}
.offer-heading {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 0.01em;
}
.offer-subheading {
    margin-top: 10px;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 24px;
    text-transform: lowercase;
    margin-bottom: 50px;
    line-height: 29px;
    color: black;
}
.order-btn {
    text-decoration: none;
    color: white;
    line-height: 33px;
    font-size: 24px;
    font-family: var(--open-sans-font);
    font-weight: 600;
    padding: 18.5px 72.5px;
    background: #000;
}
.slider {
    gap: 30px;
    padding-left: 100px;
}
.social-media {
    padding-left: 223px;
    margin-top: 53px;
    display: flex;
    gap: 15px;
}
.social-media img {
    width: 20px;
    height: 20px;
}
.view-more-div{
    margin-top: 46px;
    padding-right: 200px;
}
.view-more {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.view-more-div img {
    position: relative;
    top: 7px;
    margin-left: 7px;
}
.about-pam-jones {
    margin-top: 78px;
    margin-bottom: 78px;
}
.about-pam-heading, .portfolio-heading, .price-heading {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
}
.about-pam {
    gap: 130px;
    align-items: center;
}
.about-pam-heading span, .portfolio-heading span, .price-heading span {
    position: absolute;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.02);
    top: -22px;
    left: 0px;
}
.about-pam-text {
    font-size: 24px;
    font-family: var(--montserrat-font);
    font-weight: 500;
    line-height: 29px;
    color: #000000;
    padding-right: 140px;
}
.read-more-div {
    position: relative;
    top: -51px;
    left: 968px;
}
.read-more {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;   
}
.read-more-div img {
    position: relative;
    top: 7px;
    margin-left: 7px;
}
.price-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}   
.photo1 {
    grid-area: 1 / 1 / 3 / 2; 
}
.photo2 { 
    grid-area: 2 / 2 / 4 / 3; 
}
.photo3 { 
    grid-area: 3 / 3 / 5 / 4; 
}