@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --open-sans-font: 'Open Sans', sans-serif; 
}
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    position: relative;
    font-family: var(--open-sans-font);
}

.about-pam-jones, .offer, .logo, .portfolio-heading, .prices, .services, .want-photo {
    margin-left: 120px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.header {
    padding-top: 10px;
    margin-bottom: 25px;    
}
.scroll-line {
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 13px 0;
    font-family: var(--montserrat-font);
}
.marquee {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    user-select: none;
}
.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1rem;
}
.scroll {
    animation: scroll-to-left 110s linear infinite;
}
.navbar {
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-bottom: 25px;
}
.logo {
    margin-left: 125px;
    margin-right: 153px;
}
.navbar-link {
    text-decoration: none;
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
}
.navbar-link:hover{
    font-weight: 500;
}
.offer-heading {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 0.01em;
}
.offer-subheading {
    margin-top: 10px;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 24px;
    text-transform: lowercase;
    margin-bottom: 50px;
    line-height: 29px;
    color: black;
}
.order-btn {
    text-decoration: none;
    color: white;
    line-height: 33px;
    font-size: 24px;
    font-family: var(--open-sans-font);
    font-weight: 600;
    padding: 18.5px 72.5px;
    background: #000;
    display: block;
    width: 270px;
}
.slider {
    width: 100%;
    padding-left: 150px;
    padding-right: 100px;
    overflow-x: hidden;
}
.slide-div {
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    cursor: grab;
}
.slide-div::-webkit-scrollbar {
    height: 15px;
    background-color: rgb(201, 201, 201);
    padding-top: 10px;
    border-radius: 15px;
}
.slide-div::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 15px;
}
.slider-photo {
    pointer-events: none;
}
.slide-div::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 88, 88);
}
.invisible {
    display: none;
}
.dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;
}
.active-dot {
    background-color: #6B6B6B;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 370px;
}
.prev {
    left: 550px;
}
.next {
    right: 50px;
}

.social-media-div {
    margin-top: 25px;
}
.social-media {
    padding-left: 140px;
    display: flex;
    gap: 15px;
    align-items: flex-end;
}
.social-media img {
    width: 20px;
    height: 20px;
}

.view-more-div{
    padding-right: 200px;
}
.view-more {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 20px;
}
.view-more-div img {
    position: relative;
    top: 7px;
    margin-left: 7px;
}
.about-pam-jones {
    margin-top: 78px;
    margin-bottom: 78px;
}
.about-pam-heading, .portfolio-heading, .prices-heading, .services-heading, .want-photo-heading {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
}
.about-pam {
    gap: 130px;
    align-items: center;
}
.about-pam-heading span, .portfolio-heading span, .prices-heading span, .services-heading span, .want-photo-heading span {
    position: absolute;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.02);
    top: -22px;
    left: 0px;
}
.about-pam-text {
    font-size: 28px;
    font-family: var(--montserrat-font);
    font-weight: 500;
    line-height: 37px;
    color: #000000;
    padding-right: 104px;
}
.read-more-div {
    position: relative;
    top: -51px;
    left: 1071px;
}
.read-more, .service-link {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    font-family: var(--montserrat-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;   
}
.read-more-div img, .price-link img {
    position: relative;
    top: 7px;
    margin-left: 7px;
}
.portfolio-slider{
    margin-bottom: 50px;
    display: flex;
}
.portfolio-photo-scroll-to-left {
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll-to-left 60s linear infinite;
}
.portfolio-photo-scroll-to-right {
    float: right;
    flex-shrink: 0;
    min-width: 100%;
    animation: scroll-to-right 60s linear infinite;
}
.portfolio-photo-scroll-to-right img, .portfolio-photo-scroll-to-left img  {
    margin-right: 25px;
}
.all-photos-div{
    margin-top: 70px;
}
.services {
    margin-bottom: 100px;
}
.services-heading {
    margin-top: 50px;
    margin-bottom: 30px;
}
.service-wrapper {
    justify-content: space-around;
    
}
.service-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
.service-link img {
    position: relative;
    top: 6px;
}


.want-photo {
    margin-top: 60px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 370px;
}
.form input {
    font-family: var(--open-sans-font);
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 1%;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
}
input::placeholder {
    color: rgba(75, 75, 75, 0.49);
}
.form-btn {
    margin: 30px 0;
    padding: 19px 73px;
    text-align: center;
    width: 75%;
    outline: none;
    color: #fff;
    background: #000;
    font-weight: 600;
    font-family: var(--open-sans-font);
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;
}
.form-social-media {
    padding-left: 0px;
    align-items: center;
}
.social-media {
    margin-top: 0px;
}
.line {
    border: 1px solid #000;
    background-color: #000;
    height: 34px;
    align-self: center;
}
.adress {
    font-size: 10px;
    font-family: var(--open-sans-font);
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.01em;
}
.number{
    font-family: var(--open-sans-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.footer {
    background: rgba(28, 28, 28, 1);
    padding: 50px 0 15px 0;
}
.footer-wrapper {
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.company-info {
    text-align: center;
}
.footer-name {
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #C9C9C9;
}
.footer-navbar {
    column-gap: 60px;
    margin-bottom: 0;
}
.footer-navbar-link {
    font-weight: 400;
    color: #C9C9C9;
}
.footer-social-media {
    padding-left: 0px;
}
.social-media img {
    width: 20px;
    height: 20px;
}
.footer-company-name {
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #C9C9C9;
    text-align: center;
    margin-top: 20px;
}
.login {
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;  
}



/* KEYFRAMES FOR ANIMATION */
@keyframes scroll-to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 1rem));
    }
}
@keyframes scroll-to-right {
    from {
        transform: translateX(calc(-100% - 1rem));
    }
    to {
        transform: translateX(0);
    }
}

/* MEDIA QUERIES FOR RESPONSIVE*/
